<div class = "action"> {{title}}</div>
<ul class="tab">
  <li><a href="#/newArtist" class="tablinks" >Artist</a></li>
  <li id=current><a href="#/newChannel" class="tablinks"> Show</a></li>
   <li><a href="#/newPodcast" class="tablinks" >Podcast</a></li>
</ul>

  <h3 class="title">Podcast</h3>
  <div class=choice>
<input type="radio" name = "newEdit" value = "New" ng-model="isEditingArtist" ng-value="false"/> New
<input type="radio" name = "newEdit" value = "Edit" ng-model="isEditingArtist" ng-value="true"/> Edit <br/>

<span ng-show = "isEditingArtist">Podcast to edit:</span>
          <select ng-show="isEditingArtist">
          <option value="" disabled selected>Podcast Not Chosen</option>
          <option value=artist1>Podcast 1 </option>
          <option value=artist2>Podcast 2 </option>
          <option value=artist3>Podcast 3 </option>
        </select>
</div>
  <div class=label> 
    <table class=newInfo>
      <tr>
        <td class=content>
   Podcast Name: 
 <input type = "text" name= "podcastName" class= "pText" maxlength="20" placeholder="Enter Podcast Name"/>
        </td>
        <td class=content>
          <div class=exist> 
 Does the Show exist?: 
 <form id=rButton>
   <input type="radio" name = "yesno" value = "Yes"/> Yes
    <input type="radio" onclick= noShow() name = "yesno" value = "No"/> No
 </form>
</div>
        </td>
      </tr>
      <tr>
        <td class=content>
          Podcast URL: <input type="text" placeholder="Podcast URL"/>
        </td>
        <td class=content>
        Choose Show: 
        <select>
          <option value="" disabled selected>Show Not Chosen</option>
          <option value=Show1>Show 1 </option>
          <option value=Show2>Show 2 </option>
          <option value=Show3>Show 3 </option>
        </select>
      </td>
      </tr>
      <tr>
        <td class=content>
        Podcast Description: </br>
        <textarea placeholder="Describe the new podcast" rows=4  cols=37></textarea>
        </td>
      </tr>
    </table>
    <input id=create type="submit" ng-value="checkOKButton()"/>
    <input id=reset type="reset" value="Clear"/>
</div>

<script> function noShow{alert("Each Podcast must have Show");}</script>