body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 17px;}
.action{
        font-size: 24px;
        position: relative;
        left: 37%;
        }
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px solid darkred;
    /*background-color: #970E0E ;*/
    background: #404040;
    background-image: -webkit-linear-gradient(top, #404040, black);
    background-image: -moz-linear-gradient(top, #404040, black);
    background-image: -ms-linear-gradient(top, #404040, black);
    background-image: -o-linear-gradient(top, #404040, black);
    background-image: linear-gradient(to bottom, #404040, black);

}
/* Float the list items side by side */
ul.tab li {
           float: left;
           border-right: 2px solid silver;
          }

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: silver;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#rButton, .exist
{
  display: inline;
}
.content{padding: 5px;}
.newInfo{width:100%}
textarea{resize:none;}
/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #660000;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #660000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    background-color:darkred;
}

#create{
        position: relative;
        left:40%;
        }

#reset{
    position: relative;
    left: 45%;
}
.choice{position:relative;
        top: 20px;
        left:10px;}