<div>
    <table class="archiveTableHeader">
        <tr>
            <th class="archiveHeader"> ARCHIVE VIDEOS </th>
            <tr>
    </table>
</div>

<div class="archive-filter" ng-init="showFilter = false" ng-mouseenter="showFilter = true" ng-mouseleave="showFilter = false">
    <div class="archive-filter-title">Podcast Filter</div>
    <div class="archive-filter-dropdown" ng-show="showFilter">
        <div class="archive-filter-dropdown-item" ng-click="filter('newest-to-oldest')">Newest to Oldest</div>
        <div class="archive-filter-dropdown-item" ng-click="filter('oldest-to-newest')">Oldest to Newest</div>
    </div>
</div>

<div>
    <table ng-repeat="podcast in archive">
        <th>
            <table class="archiveAlignTable" margin-top=5%>

                <tr>
                    <th id="podcastTitle">{{podcast.podcastName}}
                        <iframe width="320" height="180" ng-src="{{podcast.podcastThumbnail}}" frameborder="0" allowfullscreen></iframe>
                    </th>
                    <th id="podcastTitle">{{podcast.podcastName}}
                        <iframe width="320" height="180" ng-src="{{podcast.podcastThumbnail}}" frameborder="0" allowfullscreen></iframe>
                    </th>
                    <th id="podcastTitle">{{podcast.podcastName}}
                        <iframe width="320" height="180" ng-src="{{podcast.podcastThumbnail}}" frameborder="0" allowfullscreen></iframe>
                    </th>
        </th>
        </table>
    </table>
</div>