<div class = "action"> What would you like to do?</div>
  
</table>
<ul class="tab">
 <li><a href="#/newArtist" class="tablinks" >Artist</a></li>
  <li id=current><a href="#/newChannel" class="tablinks"> Show</a></li>
   <li><a href="#/newPodcast" class="tablinks" >Podcast</a></li>
</ul>
  <h3 class="title">Artist</h3>
  <div class=choice>
<input type="radio" name = "newEdit" value = "New" ng-model="isEditingArtist" ng-value="false"/> New
<input type="radio" name = "newEdit" value = "Edit" ng-model="isEditingArtist" ng-value="true"/> Edit <br/>

<span ng-show="isEditingArtist">Artist to edit:</span>
          <select ng-show="isEditingArtist">
          <option value="" disabled selected>Artist Not Chosen</option>
          <option value=artist1 ng-repeat="artist in artists">{{artist.artistName}}</option>
        </select>
</div>
<form>
  <table class=newInfo>
    <tr>
 <div class=label> 
   <td id=fName>
        Artist Full Name:
        <input type = "text" name= "artistFName" class= "fText" maxlength="30" placeholder="Enter Artist Full Name"/>
    </td>
          <td></td>
</div>
    </tr>
    <tr>
      <td class=content>
        Description/Bio: </br>
         <textarea placeholder="Describe the new artist" rows=4  cols=37></textarea>
      </td>
      <td></td>
      <td class=content>
        DJ Name: 
        <input type = "text" name= "DJName" class= "DJText" maxlength="30" placeholder="Enter Artist DJ Name"/>

      </td>
    </tr>
    <tr>
        <td>
            Choose DJ Image &nbsp;  <input type=text id=img placeholder="Enter image link">
        </td>
    </tr>
  
  </table>
  <input id=create type="submit" ng-value="checkOKButton()"/>
  <input id=reset type="reset" value="Clear"/>
</form>
