<div class=choice>
<input type="radio" name = "newEdit" value = "New" ng-model="isEditingArtist" ng-value="false"/> New
<input type="radio" name = "newEdit" value = "Edit" ng-model="isEditingArtist" ng-value="true"/> Edit <br/>

<span ng-show="isEditingArtist">Artist to edit:</span>
          <select ng-show="isEditingArtist">
          <option value="" disabled selected>Artist Not Chosen</option>
          <option value=artist1>Artist 1 </option>
          <option value=artist2>Artist 2 </option>
          <option value=artist3>Artist 3 </option>
        </select>
</div>
<div class = "action"> {{title}}</div>
  
</table>
<ul class="tab">
 <li><a href="#/newArtist" class="tablinks" >Artist</a></li>
  <li id=current><a href="#/newChannel" class="tablinks"> Show</a></li>
   <li><a href="#/newPodcast" class="tablinks" >Podcast</a></li>
</ul>
  <h3>New/Edit Artist</h3>
  <table class=newInfo>
    <tr>
 <div class=label> 
   <td id=fName>
        Artist First Name:
        <input type = "text" name= "artistFName" class= "fText" maxlength="30" placeholder="Enter Artist First Name"/>
    </td>
          <td></td>
    <td id=lName>
      Artist Last Name: 
      <input type = "text" name= "lName" class= "lText" maxlength="30" placeholder="Enter Artist Last Name"/>
    </td>
</div>
    </tr>
    <tr>
      <td class=content>
        Description/Bio: </br>
         <textarea placeholder="Describe the new artist" rows=4  cols=37></textarea>
      </td>
      <td></td>
      <td class=content>
        DJ Name: 
        <input type = "text" name= "DJName" class= "DJText" maxlength="30" placeholder="Enter Artist DJ Name"/>

      </td>
    </tr>
    <tr>
        <td>
            Choose DJ image(.png or .jpg): &nbsp;  <input type=file id=img  accept= "image/jpeg, image/png"/>
        </td>
    </tr>
  
  </table>
  <input id=create type="submit" value="Create"/>
  <input id=reset type="reset" value="Clear"/>

