<div class = "action"> {{title}}</div>
<ul class="tab">
  <li><a href="#/newArtist" class="tablinks" >Artist</a></li>
  <li id=current><a href="#/newChannel" class="tablinks"> Show</a></li>
   <li><a href="#/newPodcast" class="tablinks" >Podcast</a></li>
</ul>
  <h3 class = "title">Show</h3>
  <div class=choice>
<input type="radio" name = "newEdit" value = "New"  ng-model="isEditingArtist" ng-value="false"/> New
<input type="radio" name = "newEdit" value = "Edit" ng-model="isEditingArtist" ng-value="true"/> Edit <br/>

<span ng-show="isEditingArtist">Show to edit: </span>
          <select ng-show="isEditingArtist">
          <option value="" disabled selected>Show Not Chosen</option>
          <option value=artist1>Show 1 </option>
          <option value=artist2>Show 2 </option>
          <option value=artist3>Show 3 </option>
        </select>
</div>
<table class=newInfo>
  <tr>
    <td class=content>
 <div class=label> 
 Show Name: 
 <input type = "text" name= "ShowName" class= "cText" maxlength="20" placeholder="Enter Show Name"/>
</div>
    </td>
    <td class=content>
<div class=exist> 
 Does the artist exist?: 
 <form id=rButton>
   <input type="radio" name = "yesno" value = "Yes"/> Yes
    <input type="radio" onclick="noArtist()" name = "yesno" value = "No"/> No
 </form>
</div>
    </td>
  </tr>
  <tr>
    <td class=content>
      Show Description: </br>
      <textarea placeholder="Describe the new Show." rows=4  cols=37></textarea>
      </td>
      <td class=content>
        <table ng-controller="ctrlMonth"> 
         <tr>
            <td>
   <div class="sample" align="center" >  
     Artists to Choose From
     <select style="width: 50%;" size="7">
         <option ng-click="move($index)" ng-repeat="month in months"> {{month}} </option>
         </select>      
   </div>  
            </td> 
            <td>
   <div class="sample" align="center">  
     Artist(s) Chosen
     <select style="width: 70%;" size="7" >
         <option ng-click="moveBack($index)" ng-repeat="select in selected "> {{select}} </option>
             </select>  
   </div>  
            </td>
         </tr>
   </table>
       

       
      </td>
  </tr>
   <tr>
        <td>
            Choose Show image(.png or .jpg): &nbsp;  <input type=file id=img  accept= "image/jpeg, image/png"/>
        </td>
    </tr>
</table>
<input id=create type="submit" ng-value="checkOKButton()"/>
<input id=reset type="reset" value="Clear"/>



